body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: darkolivegreen;
  background-image: url(assets/jungle.jpg);
}

.logo {
  float: left;
  display: block;
  margin: 0 auto;
  width: 10rem;
}

h1,
h2,
h3 {
  color: ghostwhite;
  text-align: center;
}

nav {
  color: ghostwhite;
  text-align: center;
}

a {
  color: ghostwhite;
}

article {
  float: left;
  width: 70%;
  padding: 10px;
  text-align: justify;
}

p {
  color: rgb(241, 181, 181);
}

aside {
  float: right;
  width: 25%;
  padding: 10px;
  text-align: justify;
  position: absolute;
  right: 10px;
  top: 280px;
}

footer {
  width: 100vw;
  text-align: center;
  font-size: 15px;
}
